promo-checker-workflow.json
{
  "name": "Promo Dashboard Daily Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }]
        }
      },
      "id": "node-schedule",
      "name": "Every Day 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/chrisspiterigdc/freebets-dashboard/contents/index.html",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "User-Agent", "value": "n8n-promo-checker" }
          ]
        },
        "options": {}
      },
      "id": "node-get",
      "name": "Get index.html from GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "GitHubToken"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// PROMO DASHBOARD DAILY CHECKER\n// ============================================================\n\nconst inputData = $input.first().json;\nconst sha = inputData.sha;\n\n// Decode HTML from GitHub base64\nconst html = Buffer.from(inputData.content.replace(/\\n/g, ''), 'base64').toString('utf8');\nconst today = new Date().toLocaleDateString('en-GB');\n\n// ---- Extract BRANDS array ----\nconst brandsStartMarker = 'const BRANDS = [';\nconst brandsStart = html.indexOf(brandsStartMarker);\nif (brandsStart === -1) throw new Error('Could not find BRANDS array in HTML');\n\nlet depth = 0;\nlet pos = brandsStart + brandsStartMarker.length - 1;\nlet brandsEnd = -1;\nfor (; pos < html.length; pos++) {\n  if (html[pos] === '[') depth++;\n  if (html[pos] === ']') {\n    depth--;\n    if (depth === 0) { brandsEnd = pos + 1; break; }\n  }\n}\nif (brandsEnd === -1) throw new Error('Could not find end of BRANDS array');\n\nconst brandsCode = html.slice(brandsStart + brandsStartMarker.length, brandsEnd - 1);\nlet brands = [];\nbrands = new Function('return [' + brandsCode + ']')();\n\n// ---- UK headers ----\nconst UK_HEADERS = {\n  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36',\n  'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',\n  'Accept-Language': 'en-GB,en;q=0.9',\n  'Cache-Control': 'no-cache',\n  'Pragma': 'no-cache',\n  'X-Forwarded-For': '81.2.69.142',\n  'CF-IPCountry': 'GB',\n  'X-Real-IP': '81.2.69.142'\n};\n\n// ---- Extract promo headings from page HTML ----\nfunction extractPromos(pageHtml) {\n  let clean = pageHtml\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<nav[\\s\\S]*?<\\/nav>/gi, '')\n    .replace(/<footer[\\s\\S]*?<\\/footer>/gi, '');\n\n  const titles = new Set();\n  const re = /<h[2-4][^>]*>([^<]{5,120})<\\/h[2-4]>/gi;\n  let m;\n  while ((m = re.exec(clean)) !== null) {\n    const t = m[1]\n      .replace(/&amp;/g, '&')\n      .replace(/&#39;/g, \"'\")\n      .replace(/&quot;/g, '\"')\n      .replace(/&pound;/g, '£')\n      .replace(/&#163;/g, '£')\n      .replace(/\\s+/g, ' ')\n      .trim();\n    if (t.length >= 8 && t.length <= 100 && /[a-zA-Z]/.test(t)) {\n      titles.add(t);\n    }\n  }\n  return [...titles].slice(0, 30);\n}\n\n// ---- Process a single brand ----\nasync function processBrand(brand) {\n  try {\n    let response;\n    try {\n      response = await $helpers.httpRequest({\n        method: 'GET',\n        url: brand.url,\n        headers: UK_HEADERS,\n        timeout: 10000,\n        followRedirects: true,\n        ignoreHttpStatusErrors: true,\n        returnFullResponse: true\n      });\n    } catch (fetchErr) {\n      brand.lastChecked = today;\n      return;\n    }\n\n    const statusCode = response.statusCode || response.status || 200;\n    const pageHtml = (typeof response.body === 'string') ? response.body : JSON.stringify(response.body || '');\n\n    const geoBlocked = [\n      'prohibited location', 'not available in your region',\n      'access denied', 'not available in your country',\n      'region is not supported', 'country is not supported'\n    ].some(p => pageHtml.toLowerCase().includes(p));\n\n    if (statusCode >= 400 || pageHtml.length < 800 || geoBlocked) {\n      brand.lastChecked = today;\n      return;\n    }\n\n    const newPromos = extractPromos(pageHtml);\n    if (newPromos.length < 2) {\n      brand.lastChecked = today;\n      return;\n    }\n\n    const normalize = s => s.toLowerCase().replace(/[^a-z0-9]/g, '');\n    const storedNorm = (brand.promos || []).map(normalize);\n    const newNorm = newPromos.map(normalize);\n\n    const hasNew = newNorm.some(n =>\n      !storedNorm.some(s => {\n        const len = Math.min(n.length, s.length, 15);\n        return len > 5 && n.slice(0, len) === s.slice(0, len);\n      })\n    );\n    const hasRemoved = storedNorm.some(s =>\n      !newNorm.some(n => {\n        const len = Math.min(n.length, s.length, 15);\n        return len > 5 && n.slice(0, len) === s.slice(0, len);\n      })\n    );\n\n    brand.changed = hasNew || hasRemoved;\n    brand.lastChecked = today;\n    if (brand.changed) {\n      brand.promos = newPromos;\n    }\n  } catch (e) {\n    brand.lastChecked = today;\n  }\n}\n\n// ---- Process brands in parallel batches of 5 ----\nconst BATCH_SIZE = 5;\nfor (let i = 0; i < brands.length; i += BATCH_SIZE) {\n  await Promise.allSettled(brands.slice(i, i + BATCH_SIZE).map(processBrand));\n}\n\n// ---- Rebuild BRANDS array in HTML ----\nconst brandsStr = brands.map(b =>\n  `  { name:${JSON.stringify(b.name)}, url:${JSON.stringify(b.url)}, lastChecked:${JSON.stringify(b.lastChecked)}, changed:${b.changed}, promos:${JSON.stringify(b.promos)} }`\n).join(',\\n');\n\nconst updatedHtml = html.slice(0, brandsStart) +\n  'const BRANDS = [\\n' + brandsStr + '\\n]' +\n  html.slice(brandsEnd);\n\n// Re-encode for GitHub API\nconst updatedContent = Buffer.from(updatedHtml).toString('base64');\n\nreturn [{\n  json: {\n    content: updatedContent,\n    sha: sha,\n    message: `Dashboard update via n8n \\u2013 ${today}`\n  }\n}];\n"
      },
      "id": "node-code",
      "name": "Fetch & Compare Promos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/chrisspiterigdc/freebets-dashboard/contents/index.html",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "User-Agent", "value": "n8n-promo-checker" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "message", "value": "={{ $json.message }}" },
            { "name": "content", "value": "={{ $json.content }}" },
            { "name": "sha", "value": "={{ $json.sha }}" },
            { "name": "branch", "value": "main" }
          ]
        },
        "options": {}
      },
      "id": "node-push",
      "name": "Push to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "GitHubToken"
        }
      }
    }
  ],
  "connections": {
    "Every Day 8am": {
      "main": [[{ "node": "Get index.html from GitHub", "type": "main", "index": 0 }]]
    },
    "Get index.html from GitHub": {
      "main": [[{ "node": "Fetch & Compare Promos", "type": "main", "index": 0 }]]
    },
    "Fetch & Compare Promos": {
      "main": [[{ "node": "Push to GitHub", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
